	<a href="tel:87142931010" class="popup-call show">
		Call center - 8 (7142) 93-10-10
	</a>
	<div class="search-box">
		<div class="container">
			<form action="#" class="search-form">
				<input type="text" name="search" placeholder="Введите запрос..." class="search-form__input">
			</form>
		</div>
	</div>
	<footer class="footer">
		<img src="/img/footer-ksu.png" alt="ksu" class="footer__img">
		<div class="footer__text">
			© 2021 Некоммерческое акционерное общество «Костанайский региональный университет имени
			А.Байтурсынова»
		</div>
	</footer>
	<script src="js/app.min.js"></script>
</body>
</html>