
.stud-nav
	position: relative
	width: 100%
	height: 364px
	border-radius: 3px
	overflow: hidden
	transition: all 0.2s ease
	@include media-breakpoint-down(lg)
		height: 264px
	@include media-breakpoint-down(md)
		height: 200px
		margin-bottom: 30px
	@include media-breakpoint-down(sm)
		height: 300px
		margin-bottom: 30px
	@include media-breakpoint-down(xs)
		height: 210px
		margin-bottom: 30px
	&:hover
		@include hover
	&_abb
		background: url($uri+'th-block/1.png') center/cover no-repeat
	&_voen
		background: url($uri+'th-block/2.png') center/cover no-repeat
	&_grant
		background: url($uri+'th-block/3.png') center/cover no-repeat
	&_student
		background: url($uri+'th-block/4.png') center/cover no-repeat
	&__link
		display: block
		width: 100%
		height: 100%
		background: rgba(#000, .1)
		transition: all .3s
		&:hover
			background: rgba(#000, .2)
	&__title
		position: absolute
		bottom: 33px
		text-transform: uppercase
		width: 100%
		height: 43px
		display: flex
		justify-content: center
		align-items: center
		background: rgba(#6696bb, .67)
		color: #fff
		font-size: 15px
		text-align: center
		padding: 0 10px
		padding-top: 2px
		@include media-breakpoint-down(lg)
			font-size: 14px
		@include media-breakpoint-down(md)
			font-size: 13px
			height: 38px
		@include media-breakpoint-down(sm)
			height: 38px
		@include media-breakpoint-down(xs)
			height: 50px